:where(.shivanya-click-away-listener) {
  display: contents;
}

:where(.shivanya-click-away-listener-disabled) {
  pointer-events: none;
  user-select: none;
}

@media (prefers-reduced-motion: reduce) {
  :where(.shivanya-click-away-listener) {
    transition: none;
  }
}